@import "tailwindcss";

@theme {
  --color-primary: #1976d2;
  --color-primary-dark: #1565c0;
  --color-danger: #dc2626;
  --color-success: #16a34a;
  --color-warning: #f59e0b;
}

html {
  scroll-behavior: smooth;
}
